/JSON/nbproject/private/
/JSON/dist/
/JSON/build/
/T2interfaces/nbproject/private/
/JavaFX/nbproject/private/
/JPA/nbproject/private/
/JPA/target/
/ORM_JPA/target/
/JavaFX/build/
/JavaFX/dist/
/JavaFX2/nbproject/private/
/MenuSelec/nbproject/private/
/MenuSelec/build/
/MenuSelec/dist/
/MenuSelec2/nbproject/private/
/MenuSelec2/build/
/MenuSelec2/dist/
